extends layout

block content
	.main.container-fluid
		.card
			.card-header
			h1 WOL
			.card-body
			h5.card-title Sends Wake On Lan Request to my pc.
			button(class="btn btn-primary" onclick='postWOL()') Wake On Lan Computer 








