extends layout

block content
    .login-form
      h1 Login Form
      form(action='auth', method='POST')
        input(type='password', name='password', placeholder='Access Code', required='')
        input(type='submit')
