extends layout

block content
  .login-form
    h1 Enter access code
    form(action='auth' method='POST')
      input#access-code(type='password' name='password' placeholder='Access Code')
      input(type='submit' onclick='postAuth()')

  #snackbar